<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tania_nikos.remotesensing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FarmPhotoTool"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.tania_nikos.remotesensing.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".XorafiaActivity" />
        <activity android:name=".EisagwgiXorafiActivity" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".EditXorafiActivity" />
        <activity android:name=".GegonotaActivity" />
        <activity android:name=".EisagwgiGegonosActivity" />
        <activity android:name=".EditGegonosActivity" />
        <activity
            android:name=".PictureActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ActivitiesSindesis.EidosSindesisActivity" />
        <activity android:name=".ActivitiesSindesis.XwrafiSindesiActivity" />
        <activity android:name=".ActivitiesSindesis.GegonosSindesiActivity" />
        <activity android:name=".ActivitiesProbolis.EidosProbolisActivity" />
        <activity android:name=".ActivitiesProbolis.XwrafiaProboliActivity" />
        <activity android:name=".ActivitiesProbolis.GegonotaProboliActivity" />
        <activity android:name=".ActivitiesProbolis.XwrafiProboliActivity" />
        <activity android:name=".ActivitiesProbolis.XwrafiProboliSliderActivity" />
        <activity android:name=".ActivitiesProbolis.GegonosProvoliActivity" />
        <activity android:name=".ActivitiesProbolis.GegonosProvoliSliderActivity" />
        <activity android:name=".ActivitiesProbolis.TabsXwrafiActivity" />
        <activity android:name=".ActivitiesProbolis.CommentsActivity" />
        <activity android:name=".ActivitiesProbolis.TabsGegonosActivity" />
        <activity android:name=".ActivitiesProbolis.CommentsGegonosActivity"></activity>
    </application>

</manifest>